.App {
  text-align: center;
 
}
* {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
font-style: normal;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fontRegular {
font-family: 'Heebo', sans-serif;
font-weight: 400;
font-style: normal;
}

.navItems {
  /* font-family: 'Heebo', sans-serif; */
  text-decoration: none;
  color: white;
  margin-right: 1%;
}
.navItemLast {
  text-decoration: none;
  color: white;
  margin-right: 1%;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
.homeCarousel{
  margin-right: -0px !important;
  margin-left: -0px !important;
  /* height: 100vh; */
  /* width: 100%; */
}

.smartphone {
  /* padding-top: 200%; */
  font-size: 1.75em;
  /* padding-bottom: 20%; */
}
.smartphone1 {
  font-size: 1.75em;
  padding-bottom: 5%;
  /* padding-top: 40%; */
}

.desktop {
  margin-top: -5%;
}
.carouselImage {
  /* margin-top: -150px; */
  /* max-width: 60vh; */
  max-height: 92vh;
}
.image {
  max-width: 60vh;
  max-height: 100vh;
  margin-right: -150px;
}
.about {
  /* padding-top: 25px; */
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: -.5rem;
  background-color: #ebf0f3;
  padding: 3%;
}
.aboutMe {
  border-top: 15px #5cc87f solid;
}
.footerRow {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}

.fa-caret-square-down {
  color: white;
}

.resourceTitle{
  color: #5e2b67;
}

.resourceTitle:hover{
  color: #ae76b8;
}

.mb {
  padding-bottom: 4%;
}

.logo {
  width:10vw;
  height: 100%;
}
.calendar{
  width:100vw;
  height:90vh;
}
.staticColor {
  background-color: #5e2b67 ;
}
.staff {
  display: flex;
  flex-direction: row;
}

.bioBtn {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  
  /* margin-left:100px; */
}

.bio {
  /* margin: 7px; */
  padding: 8%;
  /* border-radius: 10%; */
  /* width: 60px;
  height: 30px; */
  margin-top: -29%;
  margin-left: 23%;
  position: absolute;
  z-index: 1000;
  background-color: #5e2b67;
  color: white;
  font-size: 1.5em;
  border-radius: 50%;
}
.bio:hover {
  background-color:#ae76b8;
}

.card-title {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: 0px -15px;
  justify-content: left;
  color: #5e2b67
}

.programText {
  color: black;
  font-size: 1.2em;
}

.card-body {
  padding: 0;
  display: flex;
  padding: 0px -15px;
  flex-direction: column;
  margin-top: 5px;
  justify-content: left;
  color: black;
}
.staff {
  display:flex;
  justify-content: center;
  /* padding: 15px; */
  /* margin: 0px 20px; */
}
.staffName {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-right: 100px; */
  font-size: 1.7em;
}
.staffImage{
  border-radius: 170px;
  /* height: 50%; */
  width: 100%;
  margin-top: 10%;
  padding: 7%;
}
.accred_1 {
  margin-top: 10%;
  padding: 2%;
  height: 100%;
  width: 25vw;
}
.accred_2 {
  margin-top: 9%;
  padding: 3%;
  height: 100%;
  width: 23vw;
}
.accred_3 {
  padding: 5%;
  height: 90%;
  width: 90%;
} 
.accredAll {
  background-color:#ae76b85a;
  padding: 2%;
}
.accredRow {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 10;
}
.accredTitleRow {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.accredTitle { 
  width:50vw;
  height: 100%;
  position: relative;
  z-index: 10;
}
.missionRow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6%;
}
.missionAndVisionHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebf0f3;
  /* position: relative;
  z-index: 1; */
  /* padding: 10%; */
}
.mission {
  border-left: 10px #5cc87f solid;
  border-bottom: 10px #5cc87f solid;
  /* border-spacing: 15px 50px; */
  background-color: white;
  /* padding: 5%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding-left: 3%; 
 /* padding-top: .7%; */

}
.vision {
    border-right: 10px #5cc87ea6 solid;
    border-top: 10px #5cc87ea6 solid;
  /* border-spacing: 150px 50px; */
  background-color: white;
  /* padding-bottom: 5%; */
    /*margin: 5%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 padding-right: 3%; 
}
.missionText {
  border-spacing: 15px 50px;
  padding: 5%;
}
.visionText {
  border-spacing: 15px 50px;
  padding: 5%;
  margin-bottom: 18.7%;
}
.hoverFont {
  font-size: 2rem;
  letter-spacing: 8px;
  font-weight: bold;
}
.hoverVision {
  /* margin-top: -20px; */
  padding-bottom: 26px;

}
.hoverMission{
  margin-bottom: -50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact_text {
  color: white;
  font-size:50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: wrap;
}
.contact_container {
  position: relative;
  width: 100%;
}
.contact_container:hover .contact_overlay {
  width: 100%;
  /* height: 100vh; */
}
.contact_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #864193;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.contact_image {
  display: block;
  width: 100%;
  height: auto;
}
.contact_icon {
  padding:2%;
  color: #864193;
  font-size:6em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.no-gutters {
  padding-left: -15px;
  padding-right: -15px;
}

.clock {
  /* background-color: #ae76b85a; */
  /* background-color: #4ca468; */
  background-color: #ebf0f3;
  }
  .address{
    /* background-color: #70207e; */
  /* background-color: #43d872; */
  background-color: #cbcfd2;

  }
  .phone{
    /* background-color: #864193; */
    /* background-color: #7ac291; */
  background-color: #a0a3a5;
  
  }
  .email{
    /* background-color: #bb69cb; */
    /* background-color: #6ced95; */
  background-color: #7e8082;
  }

.tuition_image{
  width:80%;
  padding-bottom: 4%;
  padding-top: 4%;
}
.tuition_row  {
  display:flex;
  flex-direction: row;
  justify-content: space-around
}
.site {
  padding-bottom: 4%;
  padding-top: .5%;
  background-color: #ebf0f3;
}

.stickyBar {
  /* padding-top: 4%; */
  
  position: relative;
  z-index: 1001;
  background-color:  #ebf0f3;
}
.programHeader {
  background-color:  #ebf0f3;
}
.programsOffered {
  background-color:  #ebf0f3;
  margin-left: 16%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.programCards {
  background-color:  #ebf0f3;
  /* padding-top: 3%; */
  /* position: absolute; */
  /* z-index: -1; */
}
.programCardColumn {
  padding:0px -20px;
}
.stickyBtn{
  padding: 4%;
  background-color: #864193;
  color: white;
}
.stickyBtnWrapper {
  padding-top: 27%;
}
/* .footer {
  position: relative;
} */

.stickyTitle {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start; 

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
.smartphone {
  display:none;
}
.smartphone1 {
 display:none;
}
.mobile {
  text-align: center;
}
.site {
  padding-bottom: 5%;
}
.staffImage{
  border-radius: 170px;
  height: 50%;
  width: 100%;
  margin-top: 10%;
  padding: -5%;
}
.tuition_image{
  width:100%;
  padding-bottom: 4%;
  padding-top: 4%;
}
.contact_text {
  color: white;
  font-size: 18.3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: wrap;
}
.contact_icon {
  padding:3%;
  color: #864193;
  font-size:5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.accred_1 {
  margin-top: 10%;
  padding: 2%;
  height: 100%;
  width: 25vw;
}
/* height: 150px;
width: 420px; */
.accred_2 {
  margin-top: 9%;
  padding: 3%;
  height: 100%;
  width: 15vw;
}

.accred_3 {
  padding: 5%;
  height: 90%;
  width: 90%;
} 
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  /* Styles */
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  /* .site {
    padding-bottom: 13.5%;
  } */
  /* .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  } */
  /* .mobileStickyBar {
    display: none;
  } */
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  /* .mobileStickyBar {
    display: none;
  } */
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:60vw;
    height: 100%;
    position: relative;
    margin-top: -108px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }
  .mobile {
    text-align: center;
  }
  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
 
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .staffImage{
      border-radius: 170px;
      height: 50%;
      width: 100%;
      margin-top: 10%;
      padding: -5%;
    }
    .site {
      padding-bottom: 5%;
    }
    .tuition_image{
      width:100%;
      padding-bottom: 4%;
      padding-top: 4%;
    }
  /* Styles */
  }

  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  .mobileStickyBar {
    display: none;
  }
  
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  .image {
    width: 50vw;
    height: 100%;
  }
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  .mobileStickyBar {
    display: none;
  }
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  .image {
    width: 40vw;
    height: 100%;
  }
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  /* .site {
    padding-bottom: 13.5%;
  } */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  /* .site {
    padding-bottom: 13.5%;
  } */
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  /* .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  } */
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
 
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  /* .site {
    padding-bottom: 13.5%;
  } */
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  /* .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  } */

  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  .mobileStickyBar {
    display: none;
  }
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .site {
    padding-bottom: 13.5%;
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .site {
    padding-bottom: 13.5%;
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 4%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  .image {
    width: 85vw;
    height: 100%;
  }
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -55px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 5%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .site {
    padding-bottom: 6%;
  }
  .mobile3{
    padding-bottom: 6%;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .navbar .nav .fa-caret-square-down {
    padding: -20px;
    font-family: 'Heebo', sans-serif;
  }
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  .title {
    padding-left: 2%;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  .image {
    width: 60vw;
    height: 100%;
  }
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 18%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .mobile3{
    padding-bottom: 6%;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .navbar .nav .fa-caret-square-down {
    padding: -20px;
  }
  .title {
    padding-left: 2%;
  }
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .mobile3{
    padding-bottom: 6%;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -5%;
  }
  .title {
    padding-left: 2%;
  }
  .navbar .nav .fa-caret-square-down {
    padding: -20px;
  }
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -75px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .site {
    padding-bottom: 15%;
  }
  .mobile3{
    padding-bottom:6%;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -10%;
  }
  .navbar .nav .fa-caret-square-down {
    padding: -20px;
  }
  .title {
    padding-left: 2%;
  }
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  /* .row .staff{
    padding: -10%;
    margin-right: 0px !important;
    margin-left: 0px !important;
  } */
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .site {
    padding-bottom: 13.5%;
  }
  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    padding-top: 2%;  
    width:80vw;
    height: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 10;
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .mobile3{
    padding-bottom: 6%;
  }
  .staffImage{
    border-radius: 170px;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    padding: -10%;
  }
  .navbar .nav .fa-caret-square-down {
    padding: -20px;
  }  
  .title {
    padding-left: 12%;
  }
  .image {
    width: 40vw;
    height: 100%;
  }
  .ul{
    padding-inline-start: -40px;
   padding: -40px;  
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: -15px;
    padding-right: -15px;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .image {
    width: 90vw;
    height: 100%;
  }
  .visionText {
    border-spacing: 15px 50px;
    padding: 5%;
    margin-bottom: 0%;
  }
  .accred_1 {
    margin-top: 10%;
    padding: 2%;
    height: 100%;
    width: 100%;
  }
  /* height: 150px;
  width: 420px; */
  .accred_2 {
    margin-top: 9%;
    padding: 3%;
    height: 100%;
    width: 100%;
  }
  
  .accred_3 {
    padding: 5%;
    height: 100%;
    width: 100%;
  } 

  .accredTitle {
    /* background-color: gold; */
     /* padding-right: 10%; */
    /* padding-top: 2%;   */
    width:100%;
    height: 100%;
    position: relative;
    /* margin-top: -65px; */
    /* z-index: 10; */
    /* margin-right: 15%;
    margin-left: 15%; */
  }
  .site {
    padding-bottom: 13.5%;
  }
  .footerRow {
    padding: 10px;
  }
  .about {
    padding-left: -40px;
    padding-right: -40px;
  }

  .mobile3{
    padding-bottom: 6%;
  }
  
  .footerCol{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: -15px;
    padding-right: -15px;
  }
  .tuition_image{
    width:100%;
    padding-bottom: 4%;
    padding-top: 4%;
  }
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }


/* date placeholders for waitlist */
  .rb-date-picker.placeholder:focus::before{
    width:0%;
    content:"";
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}